.btn {
    display: inline-flex;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    color: inherit;

    transition: color 300ms ease-in, background-color 300ms ease-in
}

.btn.isSelected {
    background-color: #b81d24;
    color: #f5f5f1;
}

.btn:hover {
    background-color: #b81d24;
    color: #f5f5f1;
}

.btn:active {
    background-color: #e50914;
    color: #f5f5f1;
}