.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0;
}

.text {
    flex-grow: 1;
    font-size: 16px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    margin: 0;

    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    background-color: transparent;

    transition: color var(--default-animation), background-color var(--default-animation);
}

.btn:hover {
    color: var(--main-light-clr-1);
    background-color: var(--neutral-accent-clr-2);
}

.btn:active {
    background-color: var(--neutral-accent-clr-2);
}

.checkbox {
    width: 24px;
    height: 24px;
    cursor: pointer;
}