.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-size: 20px;
    font-weight: 700;
    color: var(--main-dark-clr-1);
    background-color: transparent;

    transition: color var(--default-animation), background-color var(--default-animation);
}

.link.active {
    color: var(--main-light-clr-1);
    background-color: var(--neutral-accent-clr-1);
}