.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;

    border-radius: var(--default-brd-rad);
    font-size: 20px;
    font-weight: 700;

    color: var(--main-dark-clr-1);
    transition: color var(--default-animation), background-color var(--default-animation);
}

.link.active {
    color: var(--neutral-accent-clr-1);
}