.wrapper {
    display: flex;
    justify-content: space-between;
}

.section {
    display: grid;
    gap: 4px;
}

.title {
    margin: 0;
    font-size: 18px;
    color: var(--neutral-accent-clr-1);
}

.labelContacts {
    font-size: 20px;
    color: var(--neutral-accent-clr-1);
    margin: 10px 0px 5px 0px;
}